/*==================================================*\
        SCSS Variables
\*==================================================*/

/*==================== Fonts ====================*/
$font-stack: Arial, Helvetica, sans-serif, "微軟正黑體", "蘋果儷黑體", "新細明體" !default;
$rootFz: 10;



/*==================== Color ====================*/
/***** 主色系 *****/
/***** 對比色系 *****/
/***** 特殊色系 *****/
/***** 灰色系 *****/

/***** 黑白 *****/
$c-white: #ffffff !default;
$c-black: #000000 !default;



/*==================== Duration ====================*/
$duration-std: 400ms !default;
$duration-slow: 600ms !default;