/*==================================================*\
        Layout
\*==================================================*/

/*==================== Document ====================*/
html, 
body {
  width: 100%;
  font-family: $font-stack;
}

html {
  height: 100%;
  font-size: $rootFz + px;
}

body {
  min-height: 100%;
}



/*==================== Container ====================*/
// main {
// }

// section {
// }

// .container {
// }
